services:
  fitness-tracker:
    restart: always
    container_name: fitness-tracker
    build:
        context: .
        dockerfile: Dockerfile
    command: bundle exec rails s -p 5004 -e production
    ports:
      - '5004:5004'
    environment:
      - RAILS_ENV=production
    volumes:
      - /var/www/fitness-tracker/data:/data
    networks:
      - mariadb_mariadb_network

networks:
  mariadb_mariadb_network:
    external: true
    driver: bridge