
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Make it count</h1>
    <p class="lead">Always. Remain. Accountable. - wherever you are, whenever you want</p>
    <hr>
    <div class="jumbotron-info">
        <p>Join our growing community now, no painful ads and its totally free!</p>
        <a class="btn btn-primary" href="#learn-more" role="button">Learn more</a>
    </div>
  </div>
</div>

<div class="container home-info" id="learn-more">
  <p class="lead text-center mission">Our mission is to assist you track your fitness activities, to help you deliver the best results</p>

  <div class="row">
    <div class="col-md-6 process-wrapper">
      <h2 class="headline">How it works</h2> 
      <p>The process is straightforward and only requires a few clicks:</p>
      <div class="row process-info"><span class="bullet">1</span><p>Sign up to create your account</p></div>
      <div class="row process-info"><span class="bullet">2</span><p>Encode your fitness activities in the dashboard</p></div>
      <div class="row process-info"><span class="bullet">3</span><p>Enjoy!</p></div>
    </div>
    <div class="col-md-6">
      <%= image_tag("dashboard.jpg", :class =>"dashboard-demo shadow-sm") %>
    </div>
  </div>
  
  <div class="row row-remote-wrapper">
    <div class="col-md-6 text-center">
      <%= image_tag("whatsapp.png", :class =>"whatsapp-demo") %>
    </div>
    <div class="col-md-6 remote-info">
      <h2 class="headline">Encode remotely</h2> 
      <p class="bold">Tired of installing another fancy app on your mobile? We are too!</p>
      <p class="right-limited">Our remote service allows you to encode or consult your activities directly from <span class="bold">WhatsApp</span>. 
      Simply complete your profile with your phone number and you're good to go!</p>
    </div>
  </div>

</div>