
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Make it count</h1>
    <p class="lead">Always. Remain. Accountable. - wherever you are, whenever you want</p>
    <hr>
    <div class="jumbotron-info">
        <p>Join our growing community now, no painful ads and its totally free!</p>
        <a class="btn btn-primary" href="#" role="button">Learn more</a>
    </div>
  </div>
</div>