/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  outline: none !important;
}

/* https://coolors.co/010a14-0f3e54-1c7293-2184ab-ffffff-f5f5f5-e0e0e0-8f8f8f */
:root{
  --main-color: #1c7293;
  --main-color-very-light: #C8E1EA;
  --main-color-lighter: #2184AB;
  --main-color-darker: #0f3e54;
  --light-gray: #F5F5F5;
  --gray:#E0E0E0;
  --dark-gray:#8F8F8F;

  --transition-speed: 300ms;
}

/* BOOTSTRAP OVERRIDE */
.btn-primary{
  background-color: var(--main-color-lighter) !important;
  border-color: var(--main-color) !important;
}
.btn-primary:hover{
  background-color: var(--main-color) !important;
}
.app-container a{
  color: var(--main-color) !important;
}

/* HEADER */
.navbar{
  background-color:var(--main-color) !important;
  border-bottom: 1px solid var(--dark-gray);
}
.nav-item.separator {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: rgba(255, 255, 255, 0.5);
}
.nav-item.login-item {
  margin-left: 4rem;
}

/* APPLICATION */
.app-container {
  margin-top: 4rem;
}
.navigation-links {
  padding:0 1rem 1.5rem 1rem;
}
.navigation-links .back:before {
  content:'';
  border: solid var(--main-color);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 0.25rem;
  transform: rotate(135deg);
}
span.separator{
  padding:0 0.3rem 0 0.3rem;
  font-size: 1.2rem;
  color:var(--main-color);
}

/* APPLICATION ALERTS */
.alert{
  position:absolute;
  width:100%;
  border-radius:unset;
}

/* SIGN-IN SIGN-UP FORMS */
.form-wrapper {
  max-width: 400px;
  margin: 4rem auto auto auto;
}
.form-group.row {
  margin: 0 0 0.5rem 0;
}

.form-wrapper h2 {
  margin: 0 auto 1rem auto;
  width: max-content;
}
.form-wrapper .form-check {
  height: min-content;
  margin-top: auto;
  margin-bottom: auto;
}
.form-wrapper .submit-group {
  display: flex;
  justify-content: space-between;
}
.form-wrapper .register-group > input {
  width: 100%;
}
.form-check-label {
  position: relative;
  top: -0.1rem;
}
.form-wrapper .custom-input {
  padding: unset;
  border: none;
  background-color: white;
  margin: auto 0.5rem auto 1.5rem;
  font-weight: 600;
}
.form-wrapper select.custom-input:disabled {
  appearance: none;
}
.form-wrapper em {
  margin: auto auto auto 0;
  color: #888888;
  font-size: 0.8rem;
  cursor: pointer;
}

.shared-links-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.edit-profile-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -2rem;
}
.edit-profile-wrapper .card {
  flex-basis: 100%;
  margin: 3rem 1.5rem auto 1.5rem;
}

/* NEW ACTIVITY */
form.to-new-activity{
  width:min-content;
  margin:3rem auto 3rem auto;
}
form.to-new-activity > input{
  padding-left:1.5rem;
  padding-right:1.5rem;
  border-radius: 100px;
}

.new-activity-wrapper .activities input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.new-activity-wrapper .activities input[type="radio"] + img {
  cursor: pointer;
  max-width: 110px;
  padding: 0.5rem;
  border: 2px solid transparent;
  border-radius: 20px;
  transition: all var(--transition-speed);
}
.new-activity-wrapper .activities input[type="radio"]:checked + img,
.new-activity-wrapper .activities input[type="radio"]:hover + img {
  border-color: var(--main-color-lighter);
  background-color: var(--main-color-very-light);
}
.form-group.activities{
  margin-bottom:0;
}
.tooltip{
  margin-top: 3px;
}
.new-activity-wrapper .row.rating,
.new-activity-wrapper .row.date-wrapper
{
  margin-top:1rem;
  margin-bottom: 2rem;
}
.new-activity-wrapper .row.rating{
  margin-left:-1.25rem;
}
.form-check.rating
{
  width: min-content; 
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}
.new-activity-wrapper .activities {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.new-activity-wrapper .activities > label{
  padding: 1rem;
}
.date-wrapper label{
  margin: auto 0.5rem auto 1.2rem;
}
.date-wrapper label.secondary{
  margin: auto 1.2rem auto 0.5rem;
}
.rating label {
  margin: auto 1rem auto 1rem;
}
.date-picked {
  max-width: 200px;
}
.number {
  max-width: 80px;
}
.rating input[type="radio"] {
  cursor: pointer;
  margin: auto 1rem auto 1rem;
}
.new-activity-wrapper input.submit {
  float: right;
}

/* DASHBOARD */
svg > g:last-child{
  pointer-events: none;
}
g > text{
  text-transform: capitalize;
}
.table{
  margin-top:1rem;
  margin-bottom:1rem;
}
.table .row-even{
  background-color: #EBF4FF;
}
.table em{
  font-weight: unset;
  font-size: 0.9rem;
}
.random-quote-wrapper{
  width:90%;
  text-align:center;
  margin:2rem auto 2rem auto;
}
.current:after{
  content:'';
  display:inline-block;
  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
  border-bottom: 0.5rem solid var(--main-color);
  margin-left:0.3rem;
}
.current.desc:after{
  transform: rotate(180deg);
}

/* HOME */
body, html{
  height:100%;
}
.jumbotron-fluid{
  background: url(/assets/background.jpg) no-repeat center center;
  min-height:100%;
}
.jumbotron .display-4{
  font-weight:600;
}
.jumbotron .container{
  width:max-content;
  margin-right:15%;
  margin-top:3rem;
}
.jumbotron-info{
  margin-top:3rem;
}

.testor{
  padding-left:10rem;

  font-size:3rem;
}