/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  outline: none !important;
}

/* HEADER */
.nav-item.separator {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: rgba(255, 255, 255, 0.5);
}
.nav-item.login-item {
  margin-left: 3rem;
}

/* FORMS */
.form-wrapper {
  max-width: 400px;
  margin: 3rem auto auto auto;
}
.form-group.row {
  margin: 0 0 0.5rem 0;
}

.form-wrapper h2 {
  margin: 0 auto 1rem auto;
  width: max-content;
}
.form-wrapper .form-check {
  height: min-content;
  margin-top: auto;
  margin-bottom: auto;
}
.form-wrapper .submit-group {
  display: flex;
  justify-content: space-between;
}
.form-wrapper .register-group > input {
  width: 100%;
}
.form-check-label {
  position: relative;
  top: -0.1rem;
}
.form-wrapper .custom-input {
  padding: unset;
  border: none;
  background-color: white;
  margin: auto 0.5rem auto 1.5rem;
  font-weight: 600;
}
.form-wrapper select.custom-input:disabled {
  appearance: none;
}
.form-wrapper .fa {
  margin: auto auto auto 0;
  color: #888888;
  font-size: 0.8rem;
  cursor: pointer;
}

.shared-links-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.edit-profile-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
}
.edit-profile-wrapper .card {
  flex-basis: 50%;
  margin: 3rem 1rem 0rem 1rem;
}

/* NEW ACTIVITY */
form.to-new-activity{
  width:min-content;
  margin:0 auto 0 auto;
}
form.to-new-activity > input{
  padding-left:1.5rem;
  padding-right:1.5rem;
  border-radius: 100px;
}

.new-activity-wrapper .activities input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.new-activity-wrapper .activities input[type="radio"] + img {
  cursor: pointer;
}
.new-activity-wrapper .activities input[type="radio"]:checked + img {
  outline: 2px solid lightblue;
}

.date-wrapper label,
.rating label {
  margin: auto 1rem auto 1rem;
}
.date-picked {
  max-width: 300px;
}
.duration {
  max-width: 80px;
}
.rating input[type="radio"] {
  cursor: pointer;
  margin: auto 1rem auto 1rem;
}
.new-activity-wrapper input.submit {
  float: right;
}

/* My activities */
.table .row-even{
  background-color: #EBF4FF;
}
.table i.fa{
  font-weight: unset;
  font-size: 0.9rem;
}